---
import Header from '../components/ui/Header.astro';
import Footer from '../components/ui/Footer.astro';
import favicon from '@assets/images/parrotsvg.svg';
import '../styles/global.css';
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Индивидуальные занятия по финскому языку онлайн. Опытный профессиональный частный преподаватель/репетитор финского языка в Санкт-Петербурге."
    />
    <meta
      name="keywords"
      content="преподаватель финского языка, репетитор финского языка, репетитор, финский язык, ищу репетитора по финскому языку, Санкт-Петербург, частный преподаватель, отзывы, уроки, цена, стоимость, посоветуйте, подбор"
    />
    <title>Преподаватель финского языка онлайн - Конопелько Григорий Викторович</title>

    <link rel="icon" href={favicon.src} type="image/svg+xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      .body-wrapper {
        background: var(--background-white);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 2rem;
        width: 100%;
        max-width: 75rem;
      }
      .main-container {
        flex: 1;
        width: 100%;
      }

      @media (max-width: 48rem) {
        .body-wrapper {
          padding: 0 1rem;
        }
      }

      @media (max-width: 26.875rem) {
        .body-wrapper {
          padding: 0 0.5rem;
        }
      }

      @media (max-width: 23.4375rem) {
        .body-wrapper {
          padding: 0 0.25rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="body-wrapper">
      <Header />
      <main class="main-container">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
