---
import { navigationLinks } from '../../data/navigation';
---

<nav class="nav-desktop" aria-label="Основная навигация">
  <div class="nav-links">
    {
      navigationLinks.map((link) => (
        <a href={link.href} class="nav-item  radius-link">
          {link.label}
        </a>
      ))
    }
  </div>
</nav>

<style>
  .nav-desktop {
    display: flex;
  }

  .nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .nav-item {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem;
    position: relative;
    transition: color 0.2s ease;
    white-space: nowrap;
    border-radius: 2rem;
  }
  @media (max-width: 1024px) {
    .nav-links {
      gap: 0rem;
    }
  }

  @media (max-width: 768px) {
    .nav-desktop {
      display: none;
    }
  }
</style>
