---
import { navigationLinks } from '../../data/navigation';
import Button from './Button.astro';
---

<nav class="nav-desktop" aria-label="Основная навигация">
  <div class="nav-links">
    {
      navigationLinks.map((link) => (
        <Button href={link.href} variant="button-link" size="large" class="nav-item">
          {link.label}
        </Button>
      ))
    }
  </div>
</nav>

<style>
  .nav-desktop {
    display: flex;
  }

  .nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .nav-item {
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem;
    white-space: nowrap;
    border-radius: 2rem;
  }

  @media (max-width: 1024px) {
    .nav-links {
      gap: 0rem;
    }
  }

  @media (max-width: 768px) {
    .nav-desktop {
      display: none;
    }
  }
</style>
