---
export interface Props {
  class?: string;
  background?: 'white' | 'light';
}

const { class: className = '', background = 'white' } = Astro.props;
---

<section
  class={`
    section
    section--${background}
    ${className}
  `}
>
  <slot />
</section>

<style>
  .section {
    width: 100%;
    padding: 0 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 1rem;
  }

  .section--white {
    background: var(--background-white);
  }

  .section--light {
    background: var(--background-light);
  }
</style>
